@media screen and (min-width: 1370px) {
    .white-space {
        width: 80%;
        height: 119px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .banner {
        background-size: 11% 50%, 37% 100%;
    }
    .white-space {
        width: 73%;
    }
}

@media screen and (min-width: 1600px) {
    .banner {
        background-size: 11% 50%, 40% 100%;
    }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1366px) {
    .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        float: none;
    }
    .container {
        width: 824px;
    }
    form {
        width: 164px;
        float: right;
        text-align: center;
    }
    .white-space {
        height: 119px;
        background: #fff;
        width: 64%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (min-device-width: 996px) and (max-device-width: 1279px) {
    .banner {
        background-size: 0% 0%, 33% 100%;
        min-height: 369px;
    }
    .white-space {
        width: 76%;
        height: 119px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    form {
        width: 164px;
        float: left;
        text-align: center;
        margin-left: 23px;
    }
    .top-bg {
        margin-top: 30px;
    }
    .banner-text h1 {
        font-size: 28px;
        margin-bottom: 12px;
        margin-top: 33px;
    }
}

@media only screen and (min-device-width: 991px) and (max-device-width: 998px) {
    .banner {
        background-size: 0% 0%, 34% 100%;
        min-height: 336px;
        padding: 22px 0;
    }
    section.bottom-sec {
        padding: 16px 0;
    }
    .top-bg {
        margin-top: 42px;
    }
    form {
        width: 164px;
        float: left;
        text-align: center;
        margin-left: 0px;
    }
    .white-space {
        width: 72%;
        height: 83px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .banner-text h1 {
        font-size: 26px;
        margin-top: 18px;
    }
}

@media only screen and (min-device-width: 919px) and (max-device-width: 990px) {
    .banner {
        background-size: 0% 0%, 41% 100%;
        min-height: 336px;
        padding: 22px 0;
    }
    section.bottom-sec {
        padding: 16px 0;
    }
    .top-bg {
        margin-top: 42px;
    }
    form {
        width: 164px;
        float: left;
        text-align: center;
        margin-left: 28px;
    }
    .white-space {
        width: 72%;
        height: 95px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .banner-text h1 {
        font-size: 26px;
        margin-top: 18px;
    }
}

@media only screen and (min-device-width: 801px) and (max-device-width: 918px) {
    .banner {
        background-size: 0% 0%, 41% 100%;
        min-height: 336px;
        padding: 22px 0;
    }
    section.bottom-sec {
        padding: 16px 0;
    }
    .top-bg {
        margin-top: 42px;
    }
    form {
        width: 164px;
        float: left;
        text-align: center;
        margin-left: 9px;
    }
    .white-space {
        width: 72%;
        height: 95px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .banner-text h1 {
        font-size: 26px;
        margin-top: 18px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 800px) {
    .banner-text h1 {
        font-size: 26px;
        margin-top: 18px;
    }
    section.bottom-sec {
        padding: 16px 0;
    }
    .banner {
        background-size: 0% 0%, 38% 100%;
        min-height: 336px;
        padding: 22px 0;
    }
    .top-bg {
        margin-top: 42px;
    }
    form {
        width: 164px;
        float: left;
        text-align: center;
        margin-left: 20px;
    }
    .white-space {
        width: 72%;
        height: 95px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .wid30 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
    .head ul.right-menu li {
        margin-right: 18px;
    }
    .banner1 {
        background-size: 39% 100%;
    }
    .search {
        width: 112px;
    }
    .search:focus {
        width: 125px;
    }
}

@media screen and (max-width: 767px) {
    section.bottom-sec {
        position: relative;
    }
    .divider {
        display: none;
    }
    .banner {
        background-image: none;
        padding-bottom: 0;
        padding: 18px 0 0;
    }
    .right-menu {
        float: left;
    }
    .m-bottom {
        margin-bottom: 15px;
    }
    .search {
        width: 104px;
    }
    .search:focus {
        width: 125px;
    }
    .banner1 {
        background-image: none;
    }
    .forgot,
    .text-color span {
        color: #fff;
    }
    .banner-text h1 {
        font-size: 25px;
        margin-bottom: 9px;
        margin-top: 24px;
    }
    .top-bg {
        margin-top: 20px;
    }
    .right-panel {
        border-left: none;
        padding: 0 15px;
        margin-top: 0px;
    }
}